 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
 :root {
     --light-cream: #b6865f;
     --dark-cream: #8d684a;
     --logo-color1: #332e29;
     --logo-color2: #b28e72;
     --header-color1: #6f4b3b;
     --header-color2: #5f3725;
     --black: #444;
     --border: .1rem solid rgba(0, 0, 0, .1);
     --border-hover: .1rem solid var(--black);
     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     --light-grey: #e5e5e5;
 }
 
 * {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     font-size: 16px;
     text-decoration: none;
     text-transform: none;
 }
 
 html {
     scroll-padding-top: 5rem;
     scroll-behavior: smooth;
 }
 
 .header .header-1 {
     background: #fff;
     padding: 14px 50px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header .header-1 .logo {
     font-size: 2.5rem;
     font-weight: bolder;
     color: var(--logo-color);
     display: flex;
     align-items: center;
 }
 
 .header .header-1 .logo i {
     font-size: 50px;
     margin-right: 10px;
 }
 
 .header .header-1 .logo span {
     font-size: 30px;
     color: var(--logo-color2);
 }
 
 .header .header-1 .logo i {
     color: var(--logo-color2);
 }
 
 .header .header-1 .search-form {
     width: 450px;
     border: var(--border);
     overflow: hidden;
     background: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 14px;
     padding: 10px 20px;
 }
 
 .header .header-1 .search-form input {
     height: 100%;
     width: 100%;
     color: var(--black);
     margin-right: 12px;
 }
 
 .header .header-1 .search-form input::placeholder {
     height: 100%;
     width: 100%;
     color: var(--light-grey);
 }
 
 .header .header-1 .search-form label {
     color: var(--light-grey);
     cursor: pointer;
     font-size: 18px;
 }
 
 .header .header-1 .search-form input:focus~label {
     color: var(--dark-cream);
 }
 
 .header .header-1 .icons div,
 .header .header-1 .icons a {
     font-size: 2.5rem;
     margin-left: 1.5rem;
     color: var(--black);
     cursor: pointer;
 }
 
 .icons .fa-user {
     font-size: 22px !important;
 }
 
 .header .header-1 .icons div:hover,
 .header .header-1 .icons a:hover {
     color: var(--dark-cream);
 }
 
 #search-btn {
     display: none;
 }
 
 .header .header-2 {
     background: var(--header-color1);
 }
 
 .header .header-2 .nav-bar {
     text-align: center;
 }
 
 .header .header-2 .nav-bar a {
     color: #fff;
     display: inline-block;
     padding: 1.2rem;
 }
 
 .header .header-2 .nav-bar a:hover {
     background: var(--header-color2);
 }
 
 .header .header-2.active {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
 }
 
 .bottom-navbar {
     text-align: center;
     background: var(--header-color2);
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     display: none;
 }
 
 .bottom-navbar a {
     font-size: 2.5rem;
     padding: 2rem;
     color: #fff;
 }
 
 .bottom-navbar a:hover {
     background: var(--dark-color);
 }
 
 .home-section .content {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .home-slider {
     width: 50%;
     height: 500px;
     margin: 0;
 }
 
 .home-slider img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .about-wrapper {
     margin: 0 auto;
     width: max-content;
 }
 
 .about-wrapper h1 {
     text-align: center;
     font-size: 60px;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 
 .about-wrapper p {
     text-align: center;
     width: 600px;
     height: 6px;
     margin: 0 auto;
     padding-top: 20px;
 }
 
 .line {
     position: absolute;
     top: 141px;
     bottom: 0;
     right: 5%;
     width: 2px;
     background: rgba(0, 0, 0);
 }
 
 .line-2 {
     position: absolute;
     top: 141px;
     bottom: 0;
     right: 5%;
     width: 2px;
     height: 168vh;
     background: rgba(0, 0, 0);
 }
 /* what we offer*/
 
 .services {
     width: 100%;
     height: 100vh;
     padding: 0 8%;
     color: #5f3725;
 }
 
 .services h1 {
     padding-top: 10%;
     margin-bottom: 60PX;
     font-size: 50px !important;
     text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 
 .title-wwo h1 {
     font-size: 50px !important;
     text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 
 .row {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 30px;
 }
 
 .whatweoffer {
     text-align: center;
     padding: 25px 10px;
     border-radius: 5px;
     font-size: 14px;
     cursor: pointer;
     background: transparent;
     transition: transform 0.5s, background 0.5s;
     border-top: 2px solid var(--header-color2);
     border-bottom: 2px solid var(--header-color2);
 }
 
 .whatweoffer i {
     font-size: 40px;
     margin-bottom: 10px;
     color: var(--light-cream);
 }
 
 .whatweoffer h2 {
     font-weight: 600;
     margin-bottom: 8px;
 }
 
 .whatweoffer:hover {
     background: var(--dark-cream);
     color: #fff;
     transform: scale(1.05);
 }
 
 .whatweoffer:hover i {
     color: #fff;
 }
 /*============================*/
 /*menu*/
 
 .section-1 {
     margin: 0;
     padding: 0;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-image: url(/images/background.jpg.jpg);
     background-attachment: fixed;
 }
 
 .menu-wrap {
     position: relative;
     color: #5f3725;
 }
 
 .title {
     background-color: white;
     margin-top: 30px;
 }
 
 .title h1 {
     font-size: 50px !important;
     text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 
 .title p {
     margin-top: 30px;
     font-size: 25px;
     text-align: center;
     font-family: 'Open Sans Condensed', sans-serif;
     padding-bottom: 20px;
     padding-top: 20px;
     border-top: 2px dotted var(--header-color2);
 }
 
 .drinks {
     margin-top: 50px;
     align-items: center;
     padding-top: 50px;
 }
 
 .hot-drinks {
     text-align: center;
     margin-top: 30px;
     margin: 0 auto;
 }
 
 .border {
     width: 600px;
     height: 600px;
     border: 2px solid var(--header-color2);
     margin: 0 auto;
     border-radius: 16px;
     margin-top: 20px;
     background-color: var(--light-grey);
 }
 
 .hot-drinks span {
     font-size: 30px;
     margin-top: 30px;
 }
 
 .font {
     font-weight: bold;
     font-family: 'Open Sans Condensed', sans-serif;
     color: white;
 }
 
 .hot-drinks ul {
     margin-top: 30px;
 }
 
 .hot-drinks ul li {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 25px;
     margin-top: 30px;
 }
 
 .cold-drinks {
     text-align: center;
     margin-top: 30px;
 }
 
 .cold-drinks span {
     font-size: 30px;
     margin-top: 30px;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 
 .cold-drinks ul {
     margin-top: 30px;
 }
 
 .cold-drinks ul li {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 25px;
     margin-top: 30px;
 }
 
 .list {
     margin-top: 5px;
     margin-bottom: 5px;
     text-align: left;
     margin-left: 25px;
 }
 /*menu*/